#gameTitle {
  -fx-background-color: transparent;
  -fx-font-family: 'Impact';
  -fx-font-size: 50px;
  -fx-opacity: 1;
  -fx-text-border: 1px;
  -fx-text-border-color: white;
}

#companyName {
  -fx-background-color: transparent;
  -fx-font-family: 'Impact';
  -fx-font-size: 30px;
  -fx-opacity: 1;
  -fx-text-border: 1px;
  -fx-text-border-color: white;
}