.label {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

.outline.label .text {
  -fx-fill: rgb(237, 190, 132);
  -fx-stroke: rgb(237, 190, 132);
  -fx-stroke-width: 0.5px;
  -fx-font-family: "Times New Roman";
}

.label-container {
  -fx-background-color: #39220e;
  /* Light gray background */
  -fx-padding: 0.2px;
  -fx-background-radius: 2.5px;
}