.label {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}

.outline.label .text {
  -fx-fill: #39220e;
  -fx-stroke: #39220e;
  -fx-stroke-width: 0.5px;
  -fx-font-family: "Times New Roman";
}

.label-container {
  -fx-background-color: rgb(237, 190, 132);
  /* Light gray background */
  -fx-padding: 0.2px;
  -fx-background-radius: 2px;
}