.text-area {
  -fx-font-family: Consolas;
  -fx-font-size: 12px;
  -fx-text-fill: black;
  -fx-display-caret:true;
  -fx-background-radius: 1em;
  -fx-background-color:  transparent;
  -fx-border-color: black;
  -fx-border-width: 0 0 0 0;
  -fx-border-radius: 2em;
  -fx-border-color: transparent;
  -fx-background-insets: 0;
  

}

.text-area .content { 
  -fx-background-radius: 20;
  -fx-background-color:  rgb(237, 190, 132); 
  -fx-border-color: black;
  -fx-border-width: 0 0 0 0;
  -fx-border-radius: 2em;
}