.text-field {
  -fx-background-color: rgb(188, 188, 188);
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-text-fill: black;
  -fx-border-color: black;
  -fx-border-width: 1 1 1 1;
  -fx-border-radius: 1.5;
  -fx-font-family: "Consolas";
}

.text-field .text {
  -fx-background-color: rgb(188, 188, 188);
}

.scroll-pane .scroll-bar:vertical {
  -fx-background-color: transparent;
  /* Makes the entire scrollbar background transparent */
}

.scroll-pane .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
  /* Thumb color */
  -fx-background-radius: 10px;
  /* Rounded corners */
  -fx-pref-width: 10px;
  /* Width of the vertical scrollbar */
}

.scroll-pane .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:horizontal .track {
  -fx-background-color: transparent;
  /* Track color */
  -fx-background-radius: 10px;
  /* Rounded corners */
}